<view-title>{{question.name || 'ไม่มีคําถามนี้ในระบบ'}} -</view-title>
<meta name="description" content="ปัญหาใจ - {{question.body | htmlToText | limitTo:550}}">
<meta property="og:title" content="{{question.name}}" view-head/>
<meta property="og:site_name" content="เพื่อนใจ Soul Friend"view-head/>
<meta property="og:image" itemprop="image primaryImageOfPage" content="/assets/imageview-heads/biglogo.png"/>
<meta property="og:url" content="puanjai.com/questions/{{::question._id}}" view-head/>
<meta property="og:description" content="{{question.body | htmlToText | limitTo:550 }}" view-head />
<meta property="fb:app_id" content="816905961709405" view-head/>
<meta property="og:type" content="website" view-head/>
<meta property="og:locale" content="th_TH" view-head/>

<div class="container-fluid background-blue-gradient">

	<div class="col-lg-2 col-sm-12"></div>

	<div ng-show="error === 'Not Found'" class="col-md-8 text-center animated pulse" style="margin:40px 0;"><i class="fa fa-frown-o fa-4x"></i><br><h1 style="font-size: 3em;">ไม่มีคําถามนี้ในระบบ</h1><br><p>คําถามนี้อาจจะถูกลบไปแล้ว</p><br>
		<a class="btn btn-lg puanjaiBorder black" ng-href="/">
			กลับสู่หน้าหลัก
		</a>
	</div>
	
	<div ng-show="question" class="col-lg-8 col-md-12 col-sm-12" style="margin: 15px 0;">
		<div class="panel panel-default animated fadeIn">
			<div class="row">
				<div class="col-md-2 col-sm-2">
					<ul class="nav nav-pills questionSidePanel">
						<li>
							<a ng-click="upVote(question._id, $element)">โหวตขึ้น<br><i class="fa fa-thumbs-up"></i></a>
							<h3>{{question.votes_count}}</h3>
							<a ng-click="downVote(question._id, $element)"><i class="fa fa-thumbs-down"></i><br>โหวตลง</a>
							<hr>
						</li>
						<li>		
							<h3>{{question.jais_count}}</h3>						
							<a ng-click="addJai(question._id, $element)"><i class="fa fa-gift"></i><br>ให้กําลังใจ</a>
						</li>
						<li>
							<hr>
							<a ng-click="shareFB('puanjai.com/questions/{{::question._id}}')"><i class="fa fa-share"></i><br>แชร์</a>
						</li>
					</ul>
				</div>

				<div class="col-md-10 no-gutter">
					<div class="topPanel">
						<h2 style='font-size: 2.2em; margin:15px;'>{{::question.name}}</h2>
						<div style="margin: 5px 15px;">
							<a class="topic" ng-href="/topics/{{::question.topic}}"><span class="label label-primary">หัวข้อ: {{::question.topic}}</span> -</a>
							<a style="display:inline-block; margin:0 5px 10px 0;" ng-repeat="tag in question.tags" ng-href="/tags/{{::tag._id}}"><span class="label label-info"><i class="fa fa-tag"></i> {{::tag.name}}</span></a>
						</div>
					</div>

					<div style="padding:15px;">
						<div ta-bind ng-model="question.body" style="word-wrap: break-word; padding:15px; line-height: 2;"></div>
						<hr style="width:85%; margin-bottom:10px;">
						<div class="col-md-10 col-md-offset-1" ng-repeat="comment in question.comments">
							<p style="padding:0; font-size:18px; color:rgb(110, 109, 109);">{{comment.content}}
								{{::comment.username}} - <span style="color:#999; font-size: 16px;">{{::comment.created | timeAgo}} โดย {{::comment.user.username}}
								<span ng-show="comment.user_id === currentUser._id">
									<a ng-click="openEditor(comment.content, 'question', $index)"><i class="fa fa-pencil"></i></a>
									<a ng-click="deleteMyComment($index)"><i class="fa fa-trash-o"></i></a>
								</span>
							</span>
						</p>
						<hr style="margin:10px 0;">							
					</div>
				</div>

				
				<div collapse="isCollapsed" style="width: 80%; margin:0 auto;">
					<form class="comment-form" style="display: inline-flex; width:100%;">
						<p class="input-group">
							<input type="text" maxlength="150" class="form-control" placeholder=" ให้ความคิดเห็นแก่คําถามที่นี่.." ng-model="newComment" style="font-size:1em;">
							<span ng-hide="editing" class="input-group-btn">
								<button type="submit" class="btn btn-info" ng-click="addComment()" style="border-radius: 0;">ให้ความคิดเห็น</button>
							</span>
							<span ng-show="editing" class="input-group-btn" >
								<button type="submit" class="btn btn-info" ng-click="editMyComment()" style="border-radius: 0;">แก้ความคิดเห็น</button>
							</span>
						</p>
					</form>
				</div>


				<div class="row" style="padding: 15px;margin-right: 0;margin-left:0;">
					<div class="col-md-4">
						<div class="row userPanelQuestion">
							<div class="col-lg-4 col-md-12 no-gutter" style="margin: 15px 0;">
								<img class="userIcon" ng-src="{{question.owner.coverimg}}" />
							</div>
							<div class="col-lg-8 col-md-12 no-gutter" style="margin: 10px 0; text-align: center; font-size:0.9em;">
								<a ng-href="/users/{{question.ownerId}}" style="font-size: 1em">{{question.owner.username}}</a><br/>
								<small>{{question.created | timeAgo}}</small><br/>
								<small>{{question.created | date:'MMM d, y h:mm a'}}</small>
							</div>
						</div>
					</div>
					<div class="col-md-8 text-center">
						<div class="row questionOptions">
							<div ng-show="questionOwner()" class="col-md-6 col-lg-4" style="margin-top:15px;">
								<a ng-click="editQuestion()"><i class="fa fa-pencil"></i> แก้ไขคําถามนี้</a>
							</div>
							<div ng-show="questionOwner()" class="col-md-6 col-lg-4" style="margin-top:15px;">
								<a ng-click="deleteQuestion()"><i class="fa fa-trash-o"></i> ลบคําถามนี้</a>
							</div>
							<div ng-hide="questionOwner()" class="col-md-6 col-lg-4" style="margin-top:15px;">
								<a ng-click="report()"><i class="fa fa-ban"></i> แจ้งความไม่เหมาะสม</a>
							</div>
							<div class="col-md-6 col-lg-4" style="margin-top:15px;">
								<a ng-click="isCollapsed = !isCollapsed"><i class="fa fa-comment"></i> ให้ความคิดเห็นแก่คําถาม</a>
							</div>
						</div>

					</div>

				</div>
			</div>				
		</div>
	

	<div ng-show="question.answers.length <= 0" class="background-blue"style="text-align: center;">
		<hr/>
		<h2 style="text-align: center;">ยังไม่ได้ความช่วยเหลือ <i class="fa fa-frown-o"></i></h2>
		<p>เป็นคนแรกที่ช่วย <span class="blue">{{question.owner.username}}</span> <small>หรือ</small> ช่วยแชร์คําามบน 		<a ng-click="shareFB('puanjai.com/questions/{{::question._id}}')">Facebook</a></p>
		
		<!-- <small>หรือ</small>
		<p>รู้จักคนที่สามารถช่วยเพื่อนใจได้ฝากแชร์การด้วยจ้า</p>
 -->
		<hr/>

	</div>
	<div ng-show="question.answers.length>=1" style="padding:0 15px; border-top: 1px solid #dddddd;">
		<h1>{{question.answers_count}} คําตอบเพื่อนใจ</h1>
	</div>

	<div class="row answersInQuestion" ng-repeat="answer in question.answers | orderBy:'votes_count': true" style="border-bottom: 1px solid #dddddd; border-top: 1px solid #dddddd;">
		<div class="col-md-10">
			<div class="row" style="background: aliceblue; border-bottom: 1px solid #dddddd;">
				<div class="col-md-2 no-gutter" style="margin: 15px 0;">
					<img class="userIcon" ng-src="{{::answer.coverimg}}" />
				</div>
				<div class="col-md-10 col-xs-12 no-gutter" style="padding: 10px; font-size:0.9em;">
					<p style="margin: 15px 15px 15px 0;"><a ng-href="/users/{{::question.ownerId}}">{{::answer.username}}</a><small>
						- {{::answer.created | timeAgo}} - {{::answer.created | date:'MMM d, y h:mm a'}}</small></p>
					</div>

				</div>
				<div ta-bind ng-model="answer.content" style="word-wrap: break-word; padding:25px;"></div>
				<hr>
				<div class="col-md-11 col-md-offset-1" style="padding:0;"ng-repeat="comment in answer.comments">
					<p style="padding:0; font-size:16px; color:rgb(110, 109, 109);">{{comment.content}} - <span style="color:#999; font-size: 16px;">{{::comment.created | timeAgo}} โดย {{::comment.username}}
						<span ng-show="comment.user_id === currentUser._id">
							<a ng-click="openEditor(comment.content, 'question', $index)"><i class="fa fa-pencil"></i></a>
							<a ng-click="deleteMyComment($index, 'answer', answer.user_id)"><i class="fa fa-trash-o"></i></a>
						</span>
					</span>
				</p>
				<hr style="margin:10px 0;">							
			</div>

			<div class="clearfix"></div>
			<div collapse="isCollapsedInAns" style="width: 80%; margin:0 auto;">
				<form class="comment-form">
					<p class="input-group">
						<input type="text" maxlength="150" class="form-control" placeholder="ให้ความเห็นที่นี้.." ng-model="newCommentForAns" style="font-size:1.2em;">
						<span ng-hide="editing" class="input-group-btn">
							<button type="submit" class="btn btn-info" ng-click="addCommentToAns(newCommentForAns, answer.user_id); isCollapsedInAns =! isCollapsedInAns; newCommentForAns = '';" style="border-radius: 0;">ให้ความคิดเห็น</button>
						</span>
						<span ng-show="editing" class="input-group-btn" >
							<button type="submit" class="btn btn-info" ng-click="editMyComment(); isCollapsedInAns != isCollapsedInAns; newCommentForAns = ''" style="border-radius: 0;">แก้ความคิดเห็น</button>
						</span>
					</p>
				</form>
			</div>

			<div class="questionOptions" style="text-align: right; margin-bottom: 10px;">							
				<!-- <a ng-click="" style="margin: 15px;"><i class="fa fa-ban"></i> แจ้งความไม่เหมาะสม</a> -->
				<a ng-click="isCollapsedInAns = !isCollapsedInAns;" style="margin: 15px;"><i class="fa fa-comment"></i> ให้ความคิดเห็น</a>
				<a ng-show="answer.user_id === currentUser._id" ng-click="deleteMyAns($index);" style="margin: 15px;"><i class="fa fa-trash-o"></i> ลบคําตอบนี้</a>
				<a ng-show="answer.user_id === currentUser._id" ng-click="editMyAns()" style="margin: 15px;"><i class="fa fa-pencil"></i> แก้ไขคําตอบนี้</a>
			</div>
		</div>

		<div class="col-md-2" style="background:#FFF9AA; border-left: 1px solid #dddddd; border-bottom: 1px solid #dddddd;">
			<ul class="nav nav-pills answerSidePanel">
				<li>
					<a ng-click="upVoteAns(answer.user_id)">โหวตขึ้น<br><i class="fa fa-thumbs-up"></i></a>
					<h3 style="text-align: center;">{{answer.votes_count}}</h3>
					<a ng-click="downVoteAns(answer.user_id)"><i class="fa fa-thumbs-down"></i><br>โหวตลง</a>
					<hr style="margin-top:0; margin-bottom: 0;">
					<a ng-show="questionOwner()" ng-click="makeGoodAns(answer.user_id)"><i class="fa fa-heart fa-2x" style="margin:10px;" ng-class="{true: 'fa-heart red', false: 'fa-heart-o grey'}[answer.goodAns]"></i><br>โดนใจ</a>
				</li>
				<div ng-show="answer.goodAns && !questionOwner()" class="text-center">
					<i class="fa fa-heart fa-2x" style="margin:10px;" ng-class="{true: 'fa-heart red', false: 'fa-heart-o grey'}[answer.goodAns]"></i><br><p class="blue">โดนใจ</p>
				</div>
			</ul>
		</div>
	</div>

	<div ng-hide="userAnsIndex >= 0" style="padding: 0 15px 15px 15px;">
		<h2 style="text-align: center; font-size: 2em;">การช่วยเหลือของคุณ</h2>
		<form id="answerInput">
			<text-angular ta-toolbar="[['underline', 'italics', 'ul', 'ol', 'pre','undo','redo','justifyLeft', 'justifyCenter','justifyRight', 'insertImage', 'insertLink', 'insertVideo', 'html', 'charcount']]" ng-model="textEditorInput" ng-focus="isLoggedIn()"></text-angular>
			<input ng-hide="editingAns" class="btn btn-default" type="submit" ng-click="onSubmit()" value="ช่วยเพื่อนใจ"></input>
			<input ng-show="editingAns"class="btn btn-default" type="submit" ng-click="onEditAns()" value="แก้ไขคําตอบ"></input>
		</form>
	</div>
	</div>

	<div ng-show="questionGroups.length >= 1"class="col-md-12 haveBorder text-center" style="border-radius:3px;margin:15px 0;">
		<h2>คําถามที่อาจใกล้เคียงกัน</h2>
		<carousel interval="0" style="display:block; margin:0 auto; width:100%; margin-bottom: 50px; padding: 0 12%;">
			<slide ng-repeat="questions in questionGroups">
				<div class="row">
					<div class="col-md-4" ng-repeat="question in questions" style="z-index: 23;">
						<a ng-href="/questions/{{::question._id}}">
							
							<h3>{{::question._source.name}}</h3>

							<span class="black">ความใกล้เคียง - </span>{{::question._score | number:2}}<br>
							<span class="black">คําตอบ - </span>{{::question._source.answers_count}}<br>
							<span class="black">คําตอบที่โดน - </span>{{::question._source.likedAns}}		
						</a>
					</div>
				</div>
			</slide>
		</carousel>
	</div>

</div>
</div>

<div class="col-lg-2 col-sm-12"></div>

</div>