#settingSection {
	/*border-right: 1px solid #dddddd;*/
}
#settingSection ul {
	width: 100%;
}

#settingSection ul li {
	margin-top: 0;
	/*text-align: center;*/
}

#settingSection ul li a {
	font-size: 1.5em;
	margin:0;
}

#mainEdit {
	padding:15px;
	border-left:1px solid #dddddd;
	border-top: 1px solid #dddddd;
}

#mainEdit h1 {
	font-size: 3.1em;
}

#settingSection > .nav > li > a:hover, #settingSection > .nav > li > a:focus {
 background: white;
}

.sectionActive {
	background-color: white;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	width:100.2%;
	z-index:12;
}

/*edit user form*/
.editUserForm > div > input, .editUserForm > div > textarea {
	font-size: 1em;
	font-family: font4;
}

.emailValidation > * {
	display: inline;
}