<div class="container-fluid background-blue">
  <div class="row">
    <div id="settingSection" class="col-sm-2 no-gutter">
    <ul class="nav nav-pills nav-stacked text-center">
      <h1>รายการ</h1>
      <li ng-repeat="section in sections"><a ng-class="{true: 'sectionActive', false: ''}[section.template === template]" ng-click="setSection(section.template);">{{section.name}}</a></li>
    </ul>
    </div>
    <div id="mainEdit" class="col-sm-10 no-gutter background-white">
    <div ng-include="'app/account/settings/'+template"></div>
    </div>
  </div>
</div>