<div class="container" style="padding: 0 25px;">


	<div class="row">
		<div class="col-md-7">
		<h3 style="text-decoration: underline; text-align: center; font-size: 2em;">ถามปัญหาใจ</h3>
			<h2 class="blue">ขั้นตอนที่ 1: ถาม</h2>
			<div id="findAnswer">
			<textarea id="askStepOne" class="form-control" rows="3" ng-model="searchInput" placeholder="ถามปัญหาใจ..." style="font-size: 1.2em;" popover-placement="bottom" popover="On the Right!" popover-trigger="show">
			</textarea>
			<span id="helpBlock" class="help-block text-right"><span ng-class="{true: 'red', false: 'green'}[searchInput.length > 84 || searchInput.length < 8]">{{84 - searchInput.length}}</span> อักขระ</span>
			</div>
			<div ng-if="searchResults.length > 0">
				<h2 class="text-center">คําถามที่คลายกันที่อาจมีคําตอบแล้ว</h2>
				<hr style="width:70%;"/>
			    <table class="table table-hover animated fadeIn">
			    	<div class="row" style="text-align: center; margin-right: 0; margin-left: 0;">
			    		<div class="col-md-3 text-left bigger blue">ความใกล้เคียง</div>
			    		<div class="col-md-6 text-center bigger blue">คําถาม</div>
			    		<div class="col-md-3 text-right bigger blue">คําตอบ</div>
			    	</div>
			         <tbody>
			           <tr ng-repeat="result in searchResults | limitTo:5" ng-class="{true: 'background-yellow', false: ''}[$even]" style="text-align: center;" ng-click="goToQuestion(result._id)">
				             <td>{{result._score | number:2}}</td>
				             <td>{{result._source.name | limitTo:100}}</td>
				             <td>{{result._source.answers_count}}</td>
			           </tr>
			         </tbody>
			       </table>
			</div>
			<hr/>
			<h2 class="blue">ขั้นตอนที่ 2: เลือกหัวข้อ <h2>
			<div class="row">
			  <div ng-repeat="topic in topics" class="col-sm-6 col-md-4" ng-class="{true: 'blue', false: ''}[topic.active]" ng-click="selectTopic(topic.title);" >
			    <div class="thumbnail" ng-mouseover="animate='animated pulse background-yellow'" ng-mouseleave="animate='background-white'" ng-class="animate">
			        <h3 style="margin: 0 auto; display:block; padding:30px; text-align: center;">{{topic.title}}</h3>
			    </div>
			  </div>
			  <div ng-show="selectedTopic"class="col-sm-12 col-md-4 animated fadeIn text-center">
			  	<div class="thumbnail background-yellow">
				  	<h4 class="blue">หัวข้อที่เลือก</h4>
				  	<h3>{{selectedTopic}}</h3>
			  	</div>
			  </div>
			</div>

						<hr/>
						<h2 class="blue">ขั้นตอนที่ 3: เนื้อความ</h2>
						<text-angular ta-toolbar="[['p','h1','h2','h3','quote', 'ul', 'ol','undo','redo','justifyLeft', 'justifyCenter','justifyRight', 'insertImage', 'insertLink', 'insertVideo']]" ng-model="textEditorInput"></text-angular>

						<hr/>

			<h2 class="blue">ขั้นตอนที่ 4: ใส่แท็ก</h2>
			<div class="input-group input-group-lg">
			    <span class="input-group-addon"><i class="fa fa-tags"></i> แท็ก</span>
			    <tags-input ng-model="tags" class="ti-input-lg" display-property="name" placeholder="คําถามนี้เกี่ยวข้องกับอะไรบ้าง..." max-length="40" add-on-comma="false" maxTags="4" on-tag-added="storeTagInCookie()">
			    <auto-complete source="searchTags($query)" highlightMatchedText="true" select-first-match="false"></auto-complete>
			    </tags-input>
			</div>

			<script type="text/ng-template" id="tagSearch.html">
			  <a>
			  	<b class="yellow">ชื่อ:</b>
			      <span bind-html-unsafe="match.model.name"></span>
			    <b class="yellow">คนใช่แท็กนี้: </b>
			      <span bind-html-unsafe="match.model.popular_count"></span>
			  </a>
			</script>

		</div>
		<div class="col-md-4 fixed" style="padding-left: 0; padding-right: 0;">
				
					<div id="howToAsk">
					<h2 class="blue">วิธีการถาม</h2>

						<p>วีธีการถาม วีธีการถาม วีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธ ีการถามวีธีการถามวีธีการถามวีธีการถามวีธี</p>
						<p>วีธีการถาม วีธีการถาม วีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธ ีการถามวีธีการถามวีธีการถามวีธีการถามวีธี</p>
						<p>วีธีการถาม วีธีการถาม วีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธีการถามวีธ ีการถามวีธีการถามวีธีการถามวีธีการถามวีธี</p>

					</div>
					<a ng-hide="editQuestion" type="submit" ng-mouseover="shake='animated bounce'" ng-mouseleave="shake=''" class="btn btn-default postfixQuestionButton" role="button" ng-click="onQuestionFormSubmit()"><i ng-class="shake" class="fa fa-child"></i> โพสต์คําถาม</a>
					<a ng-show="editQuestion" type="submit" ng-mouseover="shake='animated bounce'" ng-mouseleave="shake=''" class="btn btn-default postfixQuestionButton" role="button" ng-click="onQuestionFormSubmit()"><i ng-class="shake" class="fa fa-pencil"></i> แก้ไขคําถามนี้</a>
					<hr>
					<alert ng-repeat="alert in alerts" type="{{alert.type}}" class="animated fadeIn" close="closeAlert($index)">{{alert.msg}}</alert>


			
		</div>
	</div>


</div>