.fixed {
        position: fixed;
        right:8%;
        top:65px;
        height:540px;
        overflow-y: scroll; 
}

@media (max-width:1000px) {
  .fixed {
    position: relative;
    right:0;
    top:0;
    height:auto;
    overflow-y: scroll; 
  }
}

tags-input .tags .input {
    margin: 3px !important;
    font: inherit !important;
}

.postfixQuestionButton {
    background: linear-gradient(white, #fff9aa); 
    font-size: 1.3em; 
    width:100%; 
    color:#428bca;
}