<div class="container" ng-controller="suggestCtrl">

	<div class="page-header">
	  <h1>แนะนําและเสนอไอเดียให้เพื่อนใจ <small>ยินดีรับฟังความคิดเห็นของทุกคนครับ</small></h1>
	</div>

	<div class="panel panel-info">
	  <div class="panel-heading"><i class="fa fa-slideshare fa-lg"></i> คําแนะนํา</div>
	  <div class="panel-body">
	    <p>
	เราเป็นองกรค์ที่ทําเพื่อสังคมดั่งนั้นทางมีไอเดียฟีเจอร์หรือความสามารถที่อยากให้เสริมในเว็บนี้ที่เราพอทําให้สังคมได้เราก็จะทําให้อย่างสุดความสามารถโดยไม่คิดเงิน</p>
	  </div>

	  <form class="row" style="margin-right:0; margin-left:0;">
	  	<div class="col-sm-1 col-xs-12">
		  	<img class="img-rounded userIcon" style="display: block; margin:10px auto; width:52px; height:52px" ng-src="{{currentUser.coverimg || 'https://kalie101.files.wordpress.com/2013/01/wpid-bn_avatar_builtin14.png'}}">
	  	</div>
	  	<div class="col-sm-11 col-xs-12">
		  	<div class="input-group input-group-lg">
		  	      <textarea type="text" rows="2" class="form-control" placeholder="ให้คําแนะนําที่นี้.." style="font-size:1.2em;" ng-model="suggestionInput" ng-focus="isLoggedIn()"></textarea>
		  	      <span class="input-group-btn">
		  	        <button ng-show="editingSuggestion" class="btn btn-info" type="button" ng-click="editSuggestion()" style="height:80px;">แก้ไขคําแนะนํา</button>
		  	        <button ng-hide="editingSuggestion" class="btn btn-info" type="button" ng-click="createSuggestion()" style="height:80px;">ให้คําแนะนํา</button>
		  	      </span>
		  	    </div><!-- /input-group -->
	  	</div>
	  	<span class="pull-right" style="margin:10px 15px;"><span ng-class="{true: 'red', false: 'green'}[suggestionInput.length > 300 || suggestionInput.length < 10 ]">{{300 - suggestionInput.length}}</span> อักขระ</span>

	  </form>

	  <div class="smallPadding" ng-repeat="suggestion in suggestions | orderBy: '-votes_count'"style="border-top:1px solid #dddddd;">
	    <div class="media-body" style="position: relative;">
	    	<div class="col-md-1 col-xs-2">
		      <div class="text-center">
		      	<a ng-click="upVote(suggestion._id)"><i class="fa fa-angle-up fa-lg"></i></a>
		      	<h4 style="text-align: center;">{{suggestion.votes_count}}</h4>
		      	<a ng-click="downVote(suggestion._id)"><i class="fa fa-angle-down fa-lg"></i></a>
		      </div>
	    	</div>
	    	<div class="col-md-11 col-xs-10" style="border-left: 1px solid #dddddd;">

	    		<div ng-show="currentUser._id === suggestion.ownerId || currentUser.role === 'admin'" class="pull-right text-right">
	    			<a ng-click="openEditor(suggestion)"><i class="fa fa-pencil"></i></a>
	    			<a ng-click="deleteSuggestion(suggestion._id)"><i class="fa fa-times"></i></a>
	    		</div>
		      <h3 class="media-heading" style="margin: 40px 0;">{{suggestion.content}}</h3>
	    	</div>
		      <div style="position:absolute; bottom:0; right:0;">
			      <a ng-href="/users/{{suggestion.ownerId}}"><small>{{suggestion.owner.username}}</small></a>
			      <time class="comment-date" ><small>- {{suggestion.created | timeAgo}}</small></time>
		      </div>
	    </div>
	  </div>

	  <div ng-show="suggestions.length <= 0" class="text-center animated pulse">
	      <h2 style="text-align: center;">เป็นคนแรกที่ให้คําแนะนํา</h2>
	  </div>


	</div>
	<a ng-show="suggestions.length >= 20" class="btn btn-default" style="display:block; margin:20px 0;" ng-click="getMoreSuggestions()">ดูเพิ่ม</a>

</div>
