<div ng-show="article"style="position: relative; overflow:hidden;">
	<div class="background-blue" style="min-height:200px; position: relative;">
		<div style="position: absolute; left: 50%; top:35%; z-index:20;">
		    <div style="position: relative; left: -50%;">
		      <h1 ng-class="{true: 'white', false: ''}[article.coverImg.length > 4]"style="font-size:2.7em;text-shadow: 1px 1px 1px #969696;
">{{article.name}}</h1>
		    </div>
		</div>
		<div class="triangle" style="position:absolute; z-index:232;">
		  <i class="fa fa-tags"></i>
		  <a class="topic" ng-class="{true: 'white', false: 'blue'}[article.coverImg.length > 4]"ng-href=""> {{article.topic}} - </a>
		  <a style="display:inline;" ng-repeat="tag in article.tags" ng-class="{true: 'white', false: 'blue'}[article.coverImg.length > 4]" ng-href=""><small>{{tag.name+" "}}</small></a> 
		</div>
		<img ng-show="article.coverImg.length > 0" ng-src="{{article.coverImg}}" style="width:100%; opacity:0.7; z-index:-20; max-height: 500px;"/>
	</div>
<div class="container">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div style="margin: 0px;padding: 0px; margin-top:-20px;">
			    <div class="col-md-3 col-xs-3 well"><i class="fa fa-thumbs-up"></i> โหวต<br>{{article.votes_count}}</div>
			    <div class="col-md-3 col-xs-3 well"><i class="fa fa-share-alt"></i> แชร์<br>{{article.shares}}</div>
			    <div class="col-md-3 col-xs-3 well"><i class="fa fa-eye"></i> ผู้ชม<br>{{article.views}}</div>
			    <div class="col-md-3 col-xs-3 well"><i class="fa fa-comments"></i> ความเห็น<br>{{article.comments_count}}</div>
			</div>
			<div id="articleTopPanel">			
				<h1>ความสําคัญของบทความนี้</h1>
				<p>{{article.importance}}</p>
				<hr style="width:75%;">
				<h1>สรุปโดยสั่น</h1>
				<p>{{article.summary}}</p>
				<hr style="width:75%;">
			</div>
			<div class="articleBody"ng-bind-html="article.body" style="word-wrap: break-word; padding:25px; line-height:40px; font-size:25px; letter-spacing: 1px;">
			</div>

		</div>
	</div>
</div>
	
<headroom ng-show="article" tolerance="5" offset="windowHeight" classes='{"initial":"animated","pinned":"fadeOut","unpinned":"fadeIn","top":"headroom--top","notTop":"headroom--not-top"}' style="background-color: white; max-height: 50px; border: 1px solid #dddddd; margin-top:23px; padding:7px; position:absolute; width:100%;">
  <img src="{{article.owner.coverimg}}" style="width: 32px; height:32px; border-radius: 4px; box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);">
<a ng-href="/users/{{article.ownerId}}"><small>{{article.owner.username}}</small></a>
<small>- เขียนเมื่อ {{article.created | timeAgo}}</small>
<small>- {{article.created | date:'MMM d, y'}}</small>
<div style="float:right;">
	<a class="btn btn-info" ng-click="report()" style="color: white; font-size: 1em; padding: 4px 12px;"><i class="fa fa-ban"></i> รายงานความไม่เหมาะสม</a>
	<a class="btn btn-info" ng-click="saveArticle()" style="color: white; font-size: 1em; padding: 4px 12px;"><i class="fa fa-heart-o"></i> เก็บใจ</a>
	<a class="btn btn-info" ng-click="shareFB('/articles/{{article._id}}')" style="color: white; font-size: 1em; padding: 4px 12px;"><i class="fa fa-slideshare"></i> แชร์</a>
	<a class="btn btn-info" ng-click="upVote()" style="color: white; font-size: 1em; padding: 4px 12px;"><i class="fa fa-thumbs-up"></i> โหวตขึ้น</a>
	<a class="btn btn-info" ng-click="downVote()" style="color: white; font-size: 1em; padding: 4px 12px;"><i class="fa fa-thumbs-down"></i> โหวตลง</a>
</div>
</headroom>
<div class="container">
	<div class="col-md-8 col-md-offset-2" style="margin-top: 100px;">
		<div ng-repeat="comment in article.comments">
			<comment class="row">
			  <div class="col-md-2 col-sm-2 hidden-xs">
			    <figure class="thumbnail">
			      <img class="img-responsive" ng-src="{{comment.user.coverimg}}" />
			      <figcaption class="text-center">{{comment.user.username}}</figcaption>
			    </figure>
			  </div>
			  <div class="col-md-10 col-sm-10">
			    <div class="">
			      <div class="panel-body">
			        <header class="text-left">
			          <div class="comment-user"><i class="fa fa-user"></i>{{comment.user.username}}</div>
			          <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i>{{comment.createAt}}</time>
			        </header>
			        <div class="comment-post">
			          <p>
			            {{comment.content}}
			          </p>
			        </div>
			        <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p>
			      </div>
			    </div>
			  </div>
			</comment>
			<hr/>
		</div>
		<form class="comment-form">
		  <label>ร่วมสนทนา</label>
		  <p class="input-group">
		    <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newComment">
		    <span class="input-group-btn">
		      <button type="submit" class="btn btn-primary" ng-click="addComment()">Add Comment</button>
		    </span>
		  </p>
		</form>
	</div>
</div>


</div>	