#mainTitle h1 {
	font-size: 14em;
}

#mainTitle {
	width:590px;
}

#landingJoinUs {
  font-size: 5em; text-align: center; border:3px solid #FFF9AA; width: 60%;
  border-color:  #FFF9AA #FFF9AA #428bca #428bca;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);         
    display: block;
    margin: 0 auto; 
    padding-bottom: 35px;   margin-bottom: 10px;
    color:white;
}

@media(max-width: 1200px) {
  #mainTitle h1{
    font-size: 10em;
    font-style: bold;
    text-align: center;
  }
  #mainTitle {
    width:600px;
  }
  #landingJoinUs {
    width: 85%;
  }
}

@media(max-width: 900px) {
  #mainTitle h1{
    font-size: 7em;
    font-style: bold;
    text-align: center;
  }
  #mainTitle {
  	width:400px;
  }
}

.btn:hover, .btn:focus {
  color:white;
}

.mainLead {
	font-size: 5em;
	color:white;
}

.box.ng-hide{
  display: block!important;
  visibility: hidden;
}

.box.ng-hide-add {
    -webkit-animation: fadeOut 0.4s;
    -moz-animation: fadeOut 0.4s;
    animation: fadeOut 0.4s;
    visibility: visible;
}

.box.ng-hide-remove {
    animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
}

#bigFB {
	margin: 15px auto;
	font-size: 22px;
	width: 30%;
	display: block;
}

.puanjaiBorder {
  border: 1px solid;
  color: white; border-color: #428bca #428bca #FFF9AA #FFF9AB;
}
