<div class="container-fluid no-gutter" ng-controller="LandingCtrl" style="position:relative; overflow: hidden;">
  <img class="hidden-xs" ng-src="/assets/images/lake-min.jpg" alt="" du-parallax y="background"  style="width:100%; position: relative;"/>
  <div class="visible-xs" style="height:370px; position:relative;">
    <i class="fa fa-chevron-down" style="position:absolute; bottom:0; right:47%;"></i>
  </div>

  <div style="position: absolute; left: 50%; z-index: 300; top:35px;">
    <div id="mainTitle" class="animated fadeIn white text-shadow" style="position: relative; left: -50%;">
     <h1 class="" style="margin:0;">เพื่อนใจ</h1>
     <h2 class="text-center" style="width:80%; margin:0 auto; display: block; margin-top: -30px;">ชุมชนเพื่อเกื้อหนุนและพัฒนาจิตใจของกันและกัน</h2>
        <a id="bigFB" class="btn text-shadow puanjaiBorder" ng-href="/login" style="margin-top: 30px; padding:4px 10px">
         <i class="fa fa-login" style="color:white;"></i>เข้าสู่หน้าหลัก
       </a>
   </div>
 </div>

 <div style='position: relative;
 background: white;
 z-index: 1;
 margin:0;
 text-align: center;
 min-height: 1000px;
 ' class="animated slideInUp row" style="margin-right: 0; margin-left:0;">
 <div class="col-md-8 triangleRight box" style="padding:50px;"ani-scroll="300">
  <h1 style="font-size: 6em;">1. แบ่งบันปัญหาใจ</h1>
  <p style='text-align: center; text-justify: inter-word; padding:15px;'>ไม่ว่าจะเป็นเรื่องอะไรที่ทําให้เราติดใจ เล็กหรือใหญ่;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj</p>
</div>
<div class="col-md-4"></div>
<div class="clearfix"></div>
<div class="col-md-4"></div>
<div class="col-md-8 triangleLeft box" style="padding:50px;" ani-scroll="820">
  <h1 style="font-size: 6em;">2. ช่วยกันตอบปัญหาใจ</h1>
  <p>;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj</p>
</div>
<div class="col-md-10 triangleRight box" style="padding:50px;" ani-scroll="1170">
  <h1 style="font-size: 6em;">3. ได้เพื่อนใหม่ ได้คําตอบ และได้ทําให้โลกนี้อบอุ่นขึ้น</h1>
  <p>;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj;ldsjfl;dsakjf;sajfd;ajas;fjas;fjds;ajfadkls;fj</p>
</div>
</div>

<div class="animated fadeIn" style="position:relative;" ani-view>  
  <div class="col-md-6 col-xs-6"></div>
  <div class="col-md-6 col-xs-6 triangleLeft" style="  min-height: 56px;"></div>
  <div style="position:relative; padding-bottom: 50px;">      
   <div id="landingJoinUs" style="position:relative; overflow:hidden;">
   <!-- style="background:url('/assets/images/rocket-01.png'); background-size: cover;" -->
      <div style="position:relative;">
      <img ng-src="/assets/images/rocket-01.png" style="position:relative; z-index:-1; width:100%; position:absolute; z-index: -1; right:0;" du-parallax y="background">
      </div>
       <img ng-src="/assets/images/bigLogo.png" style="width:150px; margin-top: 40px;"><br>
       มาเป็นส่วนร่วมกับเรา
       <!-- <i class="fa fa-heart red" style="font-size: 0.7em;" ng-class="shake"></i> -->
       <a id="bigFB" class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
        <i class="fa fa-facebook" style="color:white;"></i> สมัครผ่าน Facebook</a>
      <p>หรือ</p>
       <a id="bigFB" class="btn puanjaiBorder" ng-href="/login">
        <i class="fa fa-login" style="color:white;"></i> สมัครเป็นเพื่อนใจ
      </a>
  </div>
</div>
</div>

<div class="clearfix"></div>

<div ng-show="userGroups.length > 1" class="container-fluid background-yellow" style="min-height: 420px;">
  <carousel interval="4000" style="display:block; margin:0 auto; width:100%; margin-bottom: 50px; margin-top: 50px; padding: 0 12%;" disable-animation="true">
    <slide ng-repeat="users in userGroups" class="animated fadeIn">
      <div class="row">
        <div ng-repeat="user in users"class="col-md-4">
          <div style="position:absolute: top:10px;">
            <img class="img-circle" ng-src="{{user.coverimg}}" style="border: 2px solid #428bca; width:150px;"/>
            <p style="margin: 15px 0;"><i class="fa fa-quote-left pull-left"></i>{{user.reason}}</p>
            <small class="blue">- {{user.username}}</small>
          </div>
        </div>
      </div>
    </slide>
  </carousel>
</div>

<script id="template/carousel/carousel.html" type="text/ng-template">
  <div ng-mouseenter="pause(); rightArrow='show animated slideInRight'; leftArrow='show animated slideInLeft'" ng-mouseleave="play(); rightArrow='show animated fadeOutRight'; leftArrow='show animated fadeOutLeft';" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
    <div class="carousel-inner" ng-transclude></div>
    <a class="left carousel-control" ng-click="prev()" ng-show="slides.length > 1"><span class="glyphicon glyphicon-chevron-left yellow" ng-class="leftArrow"></span></a>
    <a class="right carousel-control" ng-click="next()" ng-show="slides.length > 1"><span class="glyphicon glyphicon-chevron-right yellow" ng-class="rightArrow"></span></a>
  </div>
</script>

</div>