<div ng-controller="ChangePassCtrl">
<h1>เปลี่ยนรหัส - Change Password</h1>
<hr>
<form class="form" name="form" ng-submit="changePassword(form)" novalidate>

  <div class="form-group">
    <label>รหัสเก่า - Current Password</label>

    <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
           mongoose-error/>
    <p class="help-block" ng-show="form.password.$error.mongoose">
        {{ errors.other }}
    </p>
  </div>

  <div class="form-group">
    <label>รหัสใหม่ - Your New Password</label>

    <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
           ng-minlength="4"
           required/>
    <p class="help-block"
       ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
      รหัสควรมีมากกว่า 4 อักขระ.
    </p>
  </div>

  <div class="form-group">
    <label>ยืนยันรหัส - Repeat Your New Password</label>

    <input type="password" name="repeatedewPassword" class="form-control" ng-model="user.repeatedNewPassword"
           ng-minlength="4"
           required/>
    <p class="help-block"
       ng-show="(form.repeatedewPassword.$error.minlength || form.repeatedewPassword.$error.required) && (form.repeatedewPassword.$dirty || submitted)">
      รหัสควรมีมากกว่า 4 อักขระ.
    </p>
  </div>

  <p class="help-block"> {{ message }} </p>

  <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
</form>
<br>
</div>