[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
    font-family: font1;
    src:url(/assets/fonts/1.ttf);
}

@font-face {
    font-family: font2;
    src:url(/assets/fonts/Nithan.ttf);
}

@font-face {
    font-family: font3;
    src:url(/assets/fonts/ASGMatrathanLight.ttf);
}

@font-face {
    font-family: font4;
    src:url(/assets/fonts/CSPraJad.otf);
}

@font-face {
    font-family: font5;
    src:url(/assets/fonts/DRdeco.ttf);
}
@font-face {
    font-family: font6;
    src:url(/assets/fonts/EDPenSook.ttf);
}
@font-face {
    font-family: font7;
    src:url(/assets/fonts/kruengprung.ttf);
}
@font-face {
    font-family: font8;
    src:url(/assets/fonts/PGVIM.ttf);
}
@font-face {
    font-family: font9;
    src:url(/assets/fonts/Quark-light.otf);
}
@font-face {
    font-family: font10;
    src:url(/assets/fonts/torsilp-wadkhen.ttf);
}
@font-face {
    font-family: font11;
    src:url(/assets/fonts/WDB_Bangna.ttf);
}
@font-face {
    font-family: font12;
    src:url(/assets/fonts/LayijiRuDuuRon.ttf);
}

* {
    font-family: font6;
    font-size:18px;
}

p,h1,h2,h3,h4,h5,h6,blockquote {
  word-wrap: break-word;
}

i {
  color:#FFF577; text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

/*img {
    -webkit-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.75);
}*/

mark {
  border: 1px dotted #dddddd;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
 background-color: transparent;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
}

.btn-default:hover {
  color: #428bca;
}

.navbar-default {
  background-color: #FFF9AA;
}

.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
  border-bottom: 1px;
}

.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
  border-bottom: 1px;
}

.nav-tabs > li > a:hover {
  background: aliceblue;
}

.background-blue {
  background-color: aliceblue;
}

.background-yellow {
  background-color: #FFF9AA;
}

.background-white {
  background: white;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: aliceblue;
  cursor: pointer;
}

.table-hover > tbody > tr > td,
.table-hover > thead > tr > th,
.table-hover > tbody > tr > th,
 {
  text-align: center;
}

.table-hover > thead > tr > th
 {
  font-size: 1.1em;
}


.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    text-shadow: 2px 2px black;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.logo {
  width: 30px;
}

.main-logo {
  width: 150px;
}

#main-view {
  margin-top:50px;
}

.mythumbnail {
    padding:0px;
    height:280px;
    margin-bottom: 0px;
    border-radius: 0px;
    display:block;
    line-height: 1.42857;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.no-gutter {
    padding: 0px;
    border-radius: 0;
}

#articleList {
    margin-left: -1px;
    margin-right: -1px;
}

.caption {
    background-color: #fff;
      bottom: 0px;
      left: 50%;
      overflow: hidden;
      padding: 25px;
      position: absolute;
      right: 0px;
      top: 50%;
      z-index: 4;
}

#askQuestion {
  padding: 30px;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.carousel-indicators {
  /*bottom:0;*/
}

#sampleusers ol li {
  width: 32px;
  height: 32px;
  margin: 5px;
  cursor: pointer;
  border: 4px solid #CCC;
  opacity: 0.4;
  border-radius: 100px;
  transition: all 0.7s;
}

#sampleusers .carousel-indicators .active {
width: 80px;
height: 80px;
border-radius: 100px;
border-color: #F5DC25;
opacity: 1;
}

.panel
{
    /*position: relative;*/
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}

.panel-default > .panel-leftheading
{
    color: #333;
    background-color: #f5f5f5;
}

.panel-primary > .panel-leftheading
{
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-success > .panel-leftheading
{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-info > .panel-leftheading
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-warning > .panel-leftheading
{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-danger > .panel-leftheading
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.panel-leftheading
{
    width: 42px;
    padding: 10px 15px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
    height: 100%;
    position: absolute;
}

.panel-lefttitle
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: inherit;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    white-space: nowrap;
}

.panel-rightbody
{
    float: left;
    margin-left: 45px;
    padding: 15px;
}

.nav-pills li {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.questionPanel {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #FFF9AA;
  margin-left: 0;
  margin-right: 0;
}

.qStatusPanel {
    position: absolute;
    top: 10px;
    right: 7px;
    padding:10px;
    background-color: #FFF9AA;
    border: 0.5px solid #dddddd;
}

.qStatusPanel p {
  margin: 0;
}

.questionPanel p {
  margin-top: 10px;
  display:inline;
}

.nav-pills {
  display:table;
  margin: 0 auto;
}

.nav-pills > li > a {
  border-radius: 0;
  margin: 0 10px;
}

.nav-tabs {
  border: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid #dddddd;
  background: #FFF9AA;
}

.questionImg {
  max-height: 400px;
  max-width:90%;
  margin: 10px auto;
}

.blue {
  color:#428bca;
}

.white {
  color:white;
}

.yellow {
  color:#FFF577;
}

.red {
  color:#EF6879;
}

.green {
  color:rgb(102, 195, 102);
}

.bigger {
  font-size: 1.2em;
}

.bol {
  color:#428bca;
}

.topPanel {
  padding:15px;
}

.userIcon {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
   height: 45px; 
   width:45px;     
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}

.question h3 {
  margin:20px;
}

.questionContent {
  padding:10px;
}

.questionContent p {
  padding:20px;
}

.questionHelpBtn {
  display: block;
  width:200px;
  margin: 10px auto;
  font-size: 1.5em;
  color: #428bca;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  background: -webkit-linear-gradient(white, #FFF9AA); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #FFF9AA); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #FFF9AA); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #FFF9AA); /* Standard syntax */
}

#findAnswer {
  margin: 20px;
}

#questionSearch{
  margin: 15px;
}

.selectedTopic {
  font-size: 2em;
}
.mainTopic{
  text-align: center; display:block; margin: 0 auto; width:100%; height:100%; font-size: 1.2em;
}

