<meta name="description" content="ถามหรือตอบปัญหาใจ ชุมชนเพื่อแบ่งปันปัญหาใจและช่วยกันพัฒนาความสุข เพื่อนๆสามารถเข้ามาถามปัญหาใจและมาช่วยกับตอบปัญหาใจ"view-head>
<meta name="author" content="ศุภกร เลาหสงคราม"view-head>
<meta name="keywords" content="ถาม, ตอบ, ปัญหาใจ, เพื่อนใจ"view-head>
<meta property="og:title" content="เพื่อนใจ Soul Friends"view-head />
<meta property="og:site_name" content="เพื่อนใจ Soul Friend"view-head/>
<meta property="og:image" itemprop="image primaryImageOfPage" content="/assets/images/biglogo.png"view-head/>
<meta property="og:url" content="puanjai.com" view-head/>
<meta property="og:description" content="ชุมชนเพื่อแบ่งปันปัญหาใจและช่วยกันพัฒนาความสุข" view-head/>
<meta property="fb:app_id" content="816905961709405" view-head/>
<meta property="og:type" content="website" view-head/>
<meta property="og:locale" content="th_TH" view-head/>

<div class="container-fluid" ng-controller="MainCtrl" style="position:relative; padding-bottom: 15px;">
<div style="position:absolute; width:100%; bottom:0; margin-left:-15px;">
  <div class="background-blue-gradient" style="height: 500px;"></div>
<img src="/assets/images/background.png" style="width:100%;">
</div>
   
   <div class="row">
     <div class="col-md-2">
        <table class="table table-hover">
           <h2 style="text-align: center; font-size: 2.4em; ">หัวข้อ</h2>
           <tbody>
                 <tr ng-repeat="topic in topics" class="nav nav-stacked">
                     <td ng-class="{true: 'background-yellow', false: ''}[topic.active]">
           <a class="mainTopic" ng-click="selectTopic(topic.title);" href=''>
                         {{topic.title}}
                 </a>
                     </td>
                 </tr>
           </tbody>
        </table>
        <hr>

      <div ng-include="'components/sidebar/sideBanners2.html'"></div>
      <div class="clearfix"></div>
     </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">

          <div style="width:100%; padding:15px 0;">
              <form  class="row" style="margin-right: 0;
  margin-left: 0;
  background-color: aliceblue;
  padding: 20px 15px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius: 3px;">
                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12" style="padding:0 5px;">
                  <img class="img-rounded userIcon" style="display: block; margin:15px auto; width:60px; height:60px" ng-src="{{currentUser.coverimg || '/assets/images/usericon.png'}}">
                </div>
                <div class="col-lg-11 col-md-10 col-sm-10 col-xs-12">
                  <div id="searchQuestionForm" class="input-group input-group-lg">
                        <textarea maxlength="150" type="text" rows="2" class="form-control" placeholder="ถามหรือค้นหาปัญหาใจได้ที่นี้" style="font-size:1.6em;"ng-model="customSelected" placeholder="" typeahead="question as question.name for question in searchQuestions($viewValue) | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" typeahead-on-select="goToQuestion($model)" class="form-control"ng-focus="isLoggedIn()"></textarea>
                        <span class="input-group-btn">
                          <button ng-hide="editingReport" class="btn btn-info" type="button" ng-click ="askQuestion()" style="height:106px;">ถามเพื่อนใจ</button>
                        </span>
                      </div><!-- /input-group -->
                </div>
              </form>

          </div>

           <script type="text/ng-template" id="customTemplate.html">
             <a>
              <b class="yellow">คะแนะความใกล้เคียง:</b>
              <span ng-bind-html="match.model._score | number:2"></span>
              -
              <b class="yellow">ชื่อ:</b>
               <span ng-bind-html="match.model._source.name | typeaheadHighlight:query"></span>
               -
               <b class="yellow">ความช่วยเหลือ:</b>
               <span ng-bind-html="match.model._source.answers_count | typeaheadHighlight:query"></span>
             </a>
           </script>
        </div>
      </div>
      <div class="row">
       <tabset class="col-md-12" justified="true">

       <div class="clearfix"></div>

             <tab ng-repeat="tab in questionTabs" heading="{{tab.title}}" ng-click="resetSkip(); getQuestions(tab.category, tab.orderBy, tab.reverse);">
             </tab>

           <div class="clearfix"></div>


         <div class="questions row" ng-model="questions">
          <div class="col-md-12" ng-repeat="question in questions" ng-class="questionAni">
            <div ng-mouseover="onQuestion='animated swing'" ng-mouseleave="onQuestion=''" class="panel panel-default animated fadeIn">
              <!-- <div class="panel-default"> -->

                <div class="topPanel">

                  <div class="panel qStatusPanel">
                      <!-- <p>ได้คําตอบแล้ว {{question.answered}}</p> -->
                      <p ng-show="{{question.answered}}">ได้ความช่วยเหลือจากเพื่อนใจเแล้ว <i class="fa fa-smile-o fa-lg blue" ng-class="onQuestion"></i></p>
                      <p ng-hide="{{question.answered}}">ยังไม่ได้คําตอบที่โดนใจ <i class="fa fa-frown-o blue fa-lg" ng-class="onQuestion"></i></p>
                  </div>

                <div style="width: 170px; display: inline;">
                  <i class="fa fa-tag"></i>
                  <a class="topic" ng-href="/topics/{{question.topic}}">{{question.topic}} -</a>
                  <a ng-repeat="tag in question.tags" ng-href="/tags/{{tag._id}}"><span class="label label-info" style="margin:0 2.5px;">{{tag.name}}</span></a> 
                </div>
                <a ng-href="/questions/{{::question._id}}" style="text-decoration: none; color:black;"><h2 class="questionTitle">{{::question.name}}</h2></a>
              <a style="float:right;" ng-click="isCollapsed = !isCollapsed">...ขยาย</a>
                </div>

                <div class="clearfix">
                </div>


              <div collapse="isCollapsed">
                <hr>
                <div class="questionContent">
                <p>{{::question.body | htmlToText | limitTo:550 }}</p>
                </div>
                <a ng-mouseover="shake='animated rubberBand'" ng-mouseleave="shake=''" class="btn btn-default questionHelpBtn background-yellow-gradient" href="/questions/{{question._id}}" role="button"><i ng-class="shake" class="fa fa-heart red"></i> ให้ความช่วยเหลือ</a>
                <br/>
                <li class="text-center">
                  <a ng-href="/questions/{{question._id}}">- อ่านต่อ -</a>
                </li>
              </div>

              <div class="clearfix">
              </div>

              <div class="questionPanel inline row background-blue">

                <div class="userPanel col-sm-4">
                  <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-4 no-gutter" style="margin: 8px 0;">
                      <img ng-if="question.anonymous"class="userIcon" ng-src="http://flathash.com/{{question._id}}" />
                      <img ng-if="!question.anonymous" class="userIcon" ng-src="{{::question.owner.coverimg}}" />
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-8 no-gutter" style="margin: 10px 0; text-align: center; font-size:0.9em;">
                      <a ng-if="question.anonymous">เพื่อนใจ</a>
                      <a ng-if="!question.anonymous" ng-href="/users/{{::question.ownerId}}" style="font-size:0.9em;">{{::question.owner.username}}</a>
                      <br/>
                      <small>{{question.created | timeAgo}}</small><br/>
                    </div>
                  </div>
                </div>

                <div class="col-sm-8">
                <div class="row text-center background-yellow" style="border-left: 1px solid #dddddd;">
                  <p class="col-lg-3 col-sm-6 col-xs-6">ความช่วยเหลือ<br/>
                  <strong class="blue bigger"> {{question.answers_count | thousandSuffix}}</strong></p>
                  <p class="col-lg-3 col-sm-6 col-xs-6">โหวต<br/>
                  <strong class="blue bigger"> {{question.votes_count | thousandSuffix}}</strong></p>
                  <p class="col-lg-3 col-sm-6 col-xs-6">ผู้เข้าชม<br/>
                  <strong class="blue bigger"> {{question.views | thousandSuffix}}</strong></p>
                  <p class="col-lg-3 col-sm-6 col-xs-6">ได้กําลังใจ <br/>
                  <strong class="blue bigger">{{question.jais_count | thousandSuffix}}</strong></p>
                </div>
                </div>
              </div>

              <div>
                <ul class="nav nav-pills">
                  <li>
                    <a ng-click="shareFB(question.name, question._id, question.body)"><i class="fa fa-child"></i> แชร์</a>
                  </li>
                  <li>
                    <a ng-href="/questions/{{question._id}}"><i class="fa fa-reply"></i> ช่วยเพื่อน</a>
                  </li>
                  <li>
                    <a ng-click="addJai(question._id, $element)"><i class="fa fa-gift"></i> ให้กําลังใจ</a>
                  </li>
                  <li>
                    <a ng-click="downVote(question._id, $element)"><i class="fa fa-thumbs-down"></i> โหวตลง</a>
                  </li>
                  <li>
                    <a ng-click="upVote(question._id, $element)"><i class="fa fa-thumbs-up"></i> โหวตขึ้น</a>
                  </li>
                </ul>
              </div>
          </div>
        </div>
        </div>

        <a ng-if="questions.length >= 20" class="btn btn-default" style="display:block; margin-bottom: 15px;" ng-click="getMoreQuestions()">ดูเพิ่ม</a>

        <div class="row" ng-if="questions.length < 1 && selectedTopic.$ne !== null" style="border-top:1px solid #dddddd;">
          <div class="row animated pulse">
          <h1 style="text-align: center; font-size:3em;">เป็นคนแรกที่ถามคําถามหัวข้อ <span class="bigger yellow">{{selectedTopic}}</span><br>มีเพื่อนใจมากมายที่รอให้การช่วยเหลือ!</h1><br>
          <a ng-mouseover="shake='animated bounce'" ng-mouseleave="shake=''" style="font-size: 3em; width:30%; margin:0 auto;" class="btn btn-primary btn-lg btn-block" ng-href="/ask"><i ng-class="shake" class="fa fa-child"></i> ถาม</a><br>
          </div>
        </div>
        </tabset>

      </div>
    </div>

    <div class="col-md-2" style="overflow: hidden;">
      <div ng-include="'components/sidebar/tagCloud.html'"></div>
      <div ng-include="'components/sidebar/sideBanners1.html'"></div>
    </div>

   </div>
        
</div>