<div bgcolor="#f4f4f4" marginwidth="0" marginheight="0" style="margin:0;padding:0;background:aliceblue">
<table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="aliceblue" style="background:aliceblue"><tbody><tr><td>

  <table border="0" width="600" cellpadding="0" cellspacing="0" align="center">
    <tbody><tr>
      <td height="30" style="font-size:0;line-height:0">&nbsp;</td>
    </tr>
    <tr>
      <td valign="middle" style="padding:20px 0;text-align:center">
        <a href="http://www.puanjai.com/" style="display:inline-block" target="_blank">
          <img src="http://i.imgur.com/zATr9P3.png" alt="alt text" height="70" width="210" border="0" class="CToWUd">
        </a>
      </td>

    </tr>
    <tr>
      <td height="10" style="font-size:0;line-height:0">&nbsp;</td>
    </tr>
  </tbody>
 </table>
  
    <table border="0" width="600" cellpadding="0" cellspacing="0" align="center" style="background:#ffffff">
      
<tbody><tr>
  <td>
    
  </td>
</tr>


<tr>
  <td style="  border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5;">
    
    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
      <tbody>
      <tr>
        <td style="padding:30px 30px 20px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;color:#666666;text-align:center;">
          <h1>ยินดีต้อนรับสู่เพื่อนใจ</h1>
          <hr>
          <p>ขอให้ใช้เว็บนี้ด้วยความรัก ฝึกที่จะแบ่งบันปัญหาใจของเราเอง ฝึกที่จะเป็นคนเปิดเผยต่อความจริง เผื่อคําถามที่เราได้ถามอาจจะได้เป็นแสงนําทางให้คนอื่นๆที่อาจจะมีปัญหาเหมือนๆกันให้ได้เจอคําตอบนั้นโดยเร็ว</p>
        </td>
      </tr>
      <tr>
        <td style="padding:0 30px 30px;font-family:helvetica neue,helvetica,arial,sans-serif;font-weight:normal"> 
        <div><div style="padding:30px"><a title="Confirm Email Address" style="font-size:13px;font-weight:100;font-family:Helvetica,Arial,sans-serif;text-transform:uppercase;text-align:center;letter-spacing:1px;text-decoration:none;line-height:62px;display:block;width:300px;min-height:60px;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;color:rgb(255,255,255);background:rgb(57,139,206);margin:0px auto" href='http://www.puanjai.com/api/users/verify/<%= verificationCode %>' target="_blank">ยืนยันอีเมลของคุณ</a></div></div>
        </td>
      </tr>

    </tbody></table>

  </td>
</tr>
    </tbody></table>
  
  <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
    <tbody><tr>
      <td style="text-align:center;padding:20px 0px 5px 0px;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:18px;color:#888888">
        © เพื่อนใจ | 
        <a style="color:#888888" href="mailto:puanjaicom@gmail.com" target="_blank">puanjai.com@gmail.com</a>
      </td>
    </tr>
    <tr>
      <td style="text-align:center;padding:10px 0px 20px 0px;font-family:sans-serif;font-size:12px;line-height:18px;color:#888888">
        <a href="https://www.facebook.com/pages/%E0%B9%80%E0%B8%9E%E0%B8%B7%E0%B9%88%E0%B8%AD%E0%B8%99%E0%B9%83%E0%B8%88/1592540364334390?ref=hl" target="_blank"><img src="https://assets.digitalocean.com/email/facebook-icon.png" style="border:none" height="35px" width="35px" class="CToWUd"></a>
      </td>
    </tr>
  </tbody></table>
  

</td></tr></tbody></table>
<img src="http://mandrillapp.com/track/open.php?u=30270081&amp;id=842458000b604d23a2d82d49fe0b8720" height="1" width="1" class="CToWUd"></div>