<div>
	<a ng-href="/about" class="col-md-12 col-sm-4 col-xs-12 no-gutter"style="background-color:rgba(240, 248, 255, 0.6)">
	  <div class="triangle-left text-center" style="width:100%; color:black;">
	    <h2>เกี่ยวกับเพื่อนใจ</h2>
	    <small>- มาเป็นเพื่อนกัน -</small>
	  </div>
	  <img ng-src="/assets/images/logo.gif" style="width:100%;"/>
	</a>

	<a ng-href="/service" class="col-md-12 col-sm-4 col-xs-12 no-gutter"style="background-color:rgba(240, 248, 255, 0.6)">
	  <div class="triangle-right text-center" style="width:100%; color:black;">
	    <h2>อาสาเพื่อนใจ</h2>
	    <small>- ทําฟรีด้วยรัก -</small>
	  </div>
	  <img ng-src="/assets/images/lighthouse.png" style="width:100%;"/>
	</a>
	<a ng-href="/contact" class="col-md-12 col-sm-4 col-xs-12 no-gutter"style="background-color:rgba(240, 248, 255, 0.6)">
	  <div class="triangle-left text-center" style="width:100%; color:black;">
	    <h1>ติดต่อกับเรา</h1>
	    <small>- ตลอด 24 ชี่วโมง -</small>
	  </div>
	  <img ng-src="/assets/images/happy_sunday.png" style="width:100%;"/>
	</a>
</div>