<div class="container haveBorder" style="margin-top: 20px; margin-bottom: 20px; border-radius: 4px;">
	<div class="row background-blue" style="border-bottom: 1px solid #dddddd; position:relative;">
    <a href="/settings" style="position:absolute; right:5px; z-index:23;">
      <i class="fa fa-cog"></i> แก้ไขข้อมูลส่วนตัว 
    </a>
		<div class="col-md-3 bg_blur">
		</div>
        <div class="col-md-9  col-xs-12" style="background:white; min-height: 200px; padding-bottom:40px;">
           <img src="{{currentUser.coverimg}}" class="img-thumbnail picture hidden-sm hidden-xs" />
           <img src="{{currentUser.coverimg}}" class="img-thumbnail visible-sm visible-xs picture_mob" />
           <div class="header">
                <h1 style="color:black;">{{currentUser.username}}</h1>
                <h4>{{currentUser.role}}</h4>
                <p><small>{{currentUser.reason}}</small><p>
                <p>{{currentUser.summary}}<p>
           </div>
        </div>
    </div>
    
	<div class="row nav">    
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px; margin-top:-25px;">
            <div class="col-md-2 col-xs-2 well"><i class="fa fa-gift"></i> ให้กําลังใจ<br>{{currentUser.jais_count}}</div>
            <div class="col-md-2 col-xs-2 well"><i class="fa fa-heart"></i> ตอบปัญหา<br>{{currentUser.answers_count}}</div>
            <div class="col-md-2 col-xs-2 well"><i class="fa fa-question"></i> ถาม<br>{{currentUser.questions_count}}</div>
            <div class="col-md-2 col-xs-2 well"><i class="fa fa-ambulance"></i> ติดตาม<br>{{currentUser.following_count}}</div>
            <div class="col-md-2 col-xs-2 well"><i class="fa fa-heart-o"></i> มีคนตาม<br>{{currentUser.follower_count}}</div>
        </div>
    </div>

    <tabset justified="true">

      <tab select="onSelectCategory('myQuestions')">
        <tab-heading>คําถามใจ <span class="badge" style="font-size: inherit;">{{currentUser.questions_count | thousandSuffix}}</span></tab-heading>
        <div ng-if="myQuestions.length <= 0"class="row text-center emptyResults borderTop">
          <h2>คุณยังไม่ได้ถามคําถามใจ</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="list-group" style="margin-bottom: 0;">
                <a ng-repeat="question in myQuestions" class="list-group-item" ng-href="/questions/{{question._id}}">
                  <div class="row">
                    <div class="col-md-8" style="position: relative;">
                      <div ng-if="question.anonymous" class="anonymousQuestion triangle-right" style="width: 150px;">
                        <p><i class="fa fa-user-secret"></i> ถามโดยไม่ระบุชื่อ</p>
                      </div>
                      <h3 style="margin-top: 0; padding-top: 20px;">{{question.name}}</h3>
                      <br>
                      <div>
                        <i class="fa fa-tag"></i>                     
                        <p style="display:inline;" > {{question.topic}} - </p>
                        <small ng-repeat="tag in question.tags"> {{tag.name}}</small>
                      </div>
                    </div>
                    <div class="col-md-4 background-yellow" style="border-left: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 5px;">
                      <div class="row" style="text-align:center;">
                        <p class="col-lg-3 col-sm-3 col-xs-3">คนช่วย<br/>
                        <strong class="blue bigger"> {{question.answers_count | thousandSuffix}}</strong></p>
                        <p class="col-lg-3 col-sm-3 col-xs-3">โหวต<br/>
                        <strong class="blue bigger"> {{question.votes_count | thousandSuffix}}</strong></p>
                        <p class="col-lg-3 col-sm-3 col-xs-3">ผู้เข้าชม<br/>
                        <strong class="blue bigger"> {{question.views | thousandSuffix}}</strong></p>
                        <p class="col-lg-3 col-sm-3 col-xs-3">กําลังใจ<br/>
                        <strong class="blue bigger">{{question.jais_count | thousandSuffix}}</strong></p>
                      </div>
                      <hr class="profileHR">
                      <p class="text-center">{{question.created | timeAgo}} - {{question.created | date:'MMM d, y'}}</p>
                    </div>
                  </div>
                </a>    
            </div>
          </div>
        </div>
          <a ng-mouseover="shake='animated bounce'" ng-mouseleave="shake=''" class="btn btn-default questionHelpBtn" ng-click="goTo('/ask')" role="button" style="width:100%; margin:15px 0;"><i ng-class="shake" class="fa fa-question"></i> ถามปัญหา</a>
      </tab>
      <tab select="onSelectCategory('myAnswersInQuestions')">
        <tab-heading>คําถามที่ได้ให้คําตอบ <span class="badge" style="font-size: inherit;">{{currentUser.answers_count | thousandSuffix}}</span></tab-heading>
        <div ng-if="myAnswersInQuestions.length <= 0"class="row text-center emptyResults borderTop">
          <h2>คุณยังไม่ได้ให้ความช่วยเหลือเพื่อนๆ</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="list-group">
                <a ng-repeat="question in myAnswersInQuestions" class="list-group-item" ng-href="/questions/{{question._id}}">
                  <div class="row">
                    <div class="col-md-8" style="padding:10px;">
                      <h3>{{question.name}}</h3>

                      <br>
                      <div>
                        <i class="fa fa-tag"></i>                     
                        <p style="display:inline;" > {{question.topic}} - </p>
                        <small ng-repeat="tag in question.tags"> {{tag.name}} </small>
                      </div>
                    </div>
                    <div ng-show="question.answered" class="col-md-1" style="text-align: center; padding:10px;">
                      <i class="fa fa-check" style="color:green; font-size:1.5em;"></i>
                      <p>คําถามนี้ได้คําตอบแล้ว</p>
                    </div>
                    <div ng-hide="question.answered" class="col-md-1" style="text-align: center; padding:10px;">
                      <i class="fa fa-times" style="color:red; font-size:1.5em;"></i>
                      <p>คําถามนี้ยังไม่ได้คําตอบที่โดนใจ</p>
                    </div>
                    <div class="col-md-3 background-yellow" style="border-left: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 5px;">
                      <div class="row" style="text-align:center;">
                        <p class="col-lg-4 col-sm-4 col-xs-4">โหวต<br/>
                        <strong class="blue bigger"> {{question.votes_count | thousandSuffix}}</strong></p>
                        <p class="col-lg-4 col-sm-4 col-xs-4">ผู้เข้าชม<br/>
                        <strong class="blue bigger"> {{question.views | thousandSuffix}}</strong></p>
                        <p class="col-lg-4 col-sm-4 col-xs-4">คําตอบ<br/>
                        <strong class="blue bigger"> {{question.answers_count | thousandSuffix}}</strong></p>
                      </div>
                      <hr class="profileHR">
                      <p class="text-center">{{question.created | timeAgo}} - {{question.created | date:'MMM d, y'}}</p>
                    </div>
                  </div>
                </a>    
            </div>
          </div>
        </div>
          <a ng-mouseover="shake='animated bounce'" ng-mouseleave="shake=''" class="btn btn-default questionHelpBtn" ng-click="goTo('/')" role="button" style="width:100%; margin:15px 0;"><i ng-class="shake" class="fa fa-heart"></i> ตอบปัญหาให้เพื่อนๆ</a>
        </tab>
    </tabset>

</div>