<div class="container-fluid">

<div class="row" ng-init="checked=false" style="overflow:hidden;">
	<div ng-hide="checked || nameInput.length > 0" class="col-md-6 col-md-offset-3 animated fadeInDownBig" style="text-align: center;">
		<h1 style="font-size:3em;">เกณฑ์ในการแบ่งบันความรู้</h1>
		<ul style="list-style: none;">
			<li ng-repeat="rule in writingRules"><h2 style="font-size:2em;">{{$index + 1}}. {{rule.title}}</h2></li>
		</ul>
		<hr>
		ยืนยันตามข้อตกลงนี้ <input type="checkbox" ng-model="checked"/>
		<hr>
	</div>

   	<div ng-show="nameInput.length >= 1" class="animated fadeInLeft background-blue" style="min-height:200px; position: relative;">
   		<div style="position: absolute; left: 50%; top:35%; z-index:20;">
   		    <div style="position: relative; left: -50%;">
   		      <h1 ng-class="{true: 'white', false: ''}[warnUrl === false]"style="font-size:2.7em;text-shadow: 1px 1px 1px #969696;">{{nameInput}}</h1>
   		    </div>
   		</div>
   		<div class="triangle" style="position:absolute; z-index:232;">
   		  <i class="fa fa-tags"></i>
   		  <a class="topic" ng-class="{true: 'white', false: 'blue'}[warnUrl === false]"ng-href=""> {{selectedTopic}} - </a>
   		  <a style="display:inline;" ng-repeat="tag in tags" ng-class="{true: 'white', false: 'blue'}[warnUrl === false]" ng-href=""><small>{{tag.name+" "}}</small></a> 
   		</div>
   		<img ng-hide="warnUrl" ng-src="{{coverImageUrl}}" style="width:100%; opacity:0.7; z-index:-20;"/>
   	</div>

   <div class="container" ng-show="nameInput.length >= 1">
   	<div class="row">

   		<div class="col-md-2">
   		</div>

   		<div ng-show="nameInput.length >= 1" class="col-md-8 animated fadeInLeft">
   			<div class="row" style="margin: 0px;padding: 0px; margin-top:-20px;">
   			    <div class="col-md-3 col-xs-3 well"><i class="fa fa-thumbs-up"></i> โหวต<br>123</div>
   			    <div class="col-md-3 col-xs-3 well"><i class="fa fa-share-alt"></i> แชร์<br>123</div>
   			    <div class="col-md-3 col-xs-3 well"><i class="fa fa-eye"></i> ผู้ชม<br>123</div>
   			    <div class="col-md-3 col-xs-3 well"><i class="fa fa-comments"></i> ความเห็น<br>123</div>
   			</div>
   			<div id="articleTopPanel">
   				<div ng-show="importanceInput.length >= 1" class="animated fadeInLeft">					
   					<h1>ความสําคัญของบทความนี้</h1>
   					<p>{{importanceInput}}</p>
   					<hr style="width:75%;">
   				</div>	
   				<div ng-show="conclusionInput.length >= 1" class="animated fadeInLeft">					
   					<h1>สรุปโดยสั่น</h1>
   					<p>{{conclusionInput}}</p>
   					<hr style="width:75%;">
   				</div>
   			</div>
   			<div ng-show="textEditorInput.length > 0"class="articleBody" ng-bind-html="textEditorInput" style="word-wrap: break-word; padding:25px; line-height:40px; font-size:25px; letter-spacing: 1px;">
   			</div>
   		</div>

   		</div>
   		</div>
   		<div ng-show="hide[5]===false"class="contaner-fluid">
   		<div class="row" style="margin-left:0; margin-right: 0; background-color:white;">
   		<headroom tolerance="5" offset="windowHeight" class="col-md-12" classes='{"initial":"animated","pinned":"fadeOut","unpinned":"fadeIn","top":"headroom--top","notTop":"headroom--not-top"}' style="padding:7px;border-top: 1px solid #dddddd; max-height: 50px;">
   		<div class="col-md-6">   			
	 		  <img src="{{user.coverimg}}" style="width: 32px; height:32px; border-radius: 4px; box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);">
	   		<a ng-href=""><small>{{user.username}}</small></a>
	   		<small>- เขียนเมื่อ {{now | timeAgo}}</small>
	   		<small>- {{now | date:'MMM d, y'}}</small>
   		</div>
   		<div class="col-md-6 hidden-sm hidden-xs" style="text-align: right;">
   			<a ng-href="/share" class="btn btn-info"style="color: white; font-size: 1em; padding: 4px 12px;"><i class="fa fa-heart-o"></i> เก็บใจ</a>
   			<a ng-href="/share" class="btn btn-info"style="color: white; font-size: 1em; padding: 4px 12px;"><i class="fa fa-slideshare"></i> แชร์</a>
   			<a ng-href="/share" class="btn btn-info"style="color: white; font-size: 1em; padding: 4px 12px;"><i class="fa fa-thumbs-up"></i> โหวตขึ้น</a>
   			<a ng-href="/share" class="btn btn-info"style="color: white; font-size: 1em; padding: 4px 12px;"><i class="fa fa-thumbs-down"></i> โหวตลง</a>
   		</div>
   		</headroom>
   		</div>
   		</div>

	<!-- <hr style="margin-top:0;"> -->
	<form ng-class="articleForm" ng-show="checked || nameInput.length > 1" class="col-md-6 col-md-offset-3 animated fadeIn">
	
	<div id="articleForm">
	<div class="shareSteps animated fadeIn" ng-hide="hide[0]">		
		<h2 class="blue">ขั้นตอนที่ 1: ชื่อบทความ</h2>
		<div>		
			<textarea class="form-control" rows="3" ng-model="nameInput" placeholder="ชื่อบทความ.." style="font-size: 1.2em;">
			</textarea>
			<span id="helpBlock" class="help-block text-right"><span ng-class="{true: 'red', false: 'green'}[nameInput.length > 84 || nameInput.length < 3 ]">{{84 - nameInput.length}}</span> อักขระ</span>
			<div ng-if="searchResults.length > 0">
				<h2 class="text-center">บทความที่คลายกันที่อาจมีคนอื่นเขียนแล้ว</h2>
				<hr style="width:70%;"/>
			    <table class="table table-hover animated fadeIn">
			    	<div class="row" style="text-align: center; margin-right: 0; margin-left: 0;">
			    		<div class="col-md-3 text-left bigger blue">ความใกล้เคียง</div>
			    		<div class="col-md-6 text-center bigger blue">ชื่อบทความ</div>
			    		<div class="col-md-3 text-right bigger blue">ความนิยม</div>
			    	</div>
			         <tbody>
			           <tr ng-repeat="result in searchResults | limitTo:5" ng-class="{true: 'background-yellow', false: ''}[$even]" style="text-align: center;" ng-click="goToArticle(result._id)">
				             <td>{{result._score | number:2}}</td>
				             <td>{{result._source.name | limitTo:100}}</td>
				             <td>{{result._source.votes_count}}</td>
				             {{result}}
			           </tr>
			         </tbody>
			       </table>
			</div>
		</div>
		<hr>
	</div>

	<div class="shareSteps animated fadeIn" ng-hide="hide[1]">
		<h2 class="blue">ขั้นตอนที่ 2: ปกภาพของบทความ (ใส่ก็ได้ไม่ใส่ก็ได้)</h2>
		<textarea class="form-control" ng-model="coverImageUrl" placeholder="ใส่ลิงค์ หรือ url ของรูป.." style="font-size: 1.2em;">
		</textarea>
		<span ng-show="coverImageUrl.length > 0" id="helpBlock" class="help-block text-right"><span ng-class="{true: 'red', false: 'green'}[coverImageUrl.length > 300 || coverImageUrl.length < 11 ]">{{300 - coverImageUrl.length}}</span> อักขระ</span>
		<span ng-show="warnUrl && coverImageUrl.length > 0" class="help-block text-right red">ลิงค์หรือ url นี้ไม่ถูกต้อง</span>
	</div>
		
<div class="shareSteps animated fadeIn" ng-hide="hide[2]">	
		<h2 class="blue">ขั้นตอนที่ 3: ความสําคัญของบทความนี้</h2>
		<div>		
			<textarea class="form-control" rows="3" ng-model="importanceInput" placeholder="ความสําคัญของบทความ.." style="font-size: 1.2em;">
			</textarea>
			<span id="helpBlock" class="help-block text-right"><span ng-class="{true: 'red', false: 'green'}[importanceInput.length > 150 || importanceInput.length < 10]">{{150 - importanceInput.length}}</span> อักขระ</span>
		</div>
		<hr/>
</div>

<div class="shareSteps animated fadeIn" ng-hide="hide[3]">	
		<h2 class="blue">ขั้นตอนที่ 4: เลือกหัวข้อ </h2>
		<div class="row">
		  <div ng-repeat="topic in topics" class="col-sm-6 col-md-4" ng-class="{true: 'blue', false: ''}[topic.active]" ng-click="selectTopic(topic.title);">
		    <div class="thumbnail" ng-mouseover="animate='animated pulse background-yellow'" ng-mouseleave="animate='background-white'" ng-class="animate">
		        <h3 style="margin: 0 auto; display:block; padding:30px; text-align: center;">{{topic.title}}</h3>
		    </div>
		  </div>
		  <div ng-show="selectedTopic"class="col-sm-12 col-md-4 animated fadeIn text-center">
		  	<div class="thumbnail background-yellow">
			  	<h4 class="blue">หัวข้อที่เลือก</h4>
			  	<h3>{{selectedTopic}}</h3>
		  	</div>
		  </div>
		</div>
		<hr/>
</div>

<div class="shareSteps animated fadeIn" ng-hide="hide[4]">	
		<h2 class="blue">ขั้นตอนที่ 5: เนื้อความ</h2>
			<div>				
			<text-angular ta-toolbar="[['p','h1','h2','h3','quote', 'ul', 'ol','undo','redo','justifyLeft', 'justifyCenter','justifyRight', 'insertImage', 'insertLink', 'insertVideo']]" ng-model="textEditorInput"></text-angular>
			</div>
		<hr/>
</div>

<div class="shareSteps animated fadeIn" ng-hide="hide[5]">
		<h2 class="blue">ขั้นตอนที่ 6: สรุปโดยย่อ</h2>
		<div>		
			<textarea class="form-control" rows="3" ng-model="conclusionInput" placeholder="สรุป.." style="font-size: 1.2em;">
			</textarea>
			<span id="helpBlock" class="help-block text-right"><span ng-class="{true: 'red', false: 'green'}[conclusionInput.length > 150 || conclusionInput.length < 10]">{{150 - conclusionInput.length}}</span> อักขระ</span>
		</div>
		<hr>
</div>

<div class="shareSteps animated fadeIn" ng-hide="hide[6]" >	
		<h2 class="blue">ขั้นตอนสุดท้าย: ใส่แท็ก</h2>
			<div class="input-group input-group-lg" style="margin: 20px 0;">
			    <span class="input-group-addon"><i class="fa fa-tags"></i> แท็ก</span>
			    <tags-input ng-model="tags" class="ti-input-lg" display-property="name" placeholder="คําถามนี้เกี่ยวข้องกับอะไรบ้าง..." max-length="40" add-on-comma="false" maxTags="4" on-tag-added="storeTagInCookie()">
			    <auto-complete source="searchTags($query)" highlightMatchedText="true" select-first-match="false"></auto-complete>
			    </tags-input>
			</div>
		<hr>

		<script type="text/ng-template" id="tagSearch.html">
		  <a>
		  	<b class="yellow">ชื่อ:</b>
		      <span bind-html-unsafe="match.model.name"></span>
		    <b class="yellow">คนใช่แท็กนี้: </b>
		      <span bind-html-unsafe="match.model.popular_count"></span>
		  </a>
		</script>
</div>

</div>
		<div class="row">
				<button ng-show="hide[6] === false" class="btn btn-info" ng-click="showPrevious()" style="width:90%; display:block; margin:20px auto 0 auto;">กลับ</button>
				<button ng-show="hide[0] === false" class="btn btn-info" ng-click="showNext()" style="width:90%; display:block; margin:20px auto 0 auto;">ต่อไป</button>
			
			<div class="col-md-6" ng-hide="hide[0] === false || hide[6] === false">
				<button class="btn btn-info" ng-click="showPrevious()" style="width:90%; display:block; margin:20px auto 0 auto;">กลับ</button>
			</div>
			<div class="col-md-6" ng-hide="hide[0] === false || hide[6] === false">
				<button class="btn btn-info" ng-click="showNext()" style="width:90%; display:block; margin:20px auto 0 auto;">ต่อไป</button>
			</div>
		</div>
		<br>

		<div ng-show="hide[6]===false">
			<hr>
			<a type="submit" style="background: linear-gradient(white, #fff9aa); font-size: 2em; width:100%; display:block; margin:0 auto; color:#428bca;" ng-mouseover="shake='animated bounce'" ng-mouseleave="shake=''" class="btn btn-default" role="button" ng-click="onSubmit()"><i ng-class="shake" class="fa fa-child"></i> โพสต์บทความ</a>
		</div>
		<br>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" class="animated fadeIn" close="closeAlert($index)">{{alert.msg}}</alert>
	</form>

</div>

</div>