<view-title>แท็ก: "{{tag.name}}" -</view-title>
<div ng-show="tag" class="container haveBorder no-gutter" style="margin-top: 20px; margin-bottom: 20px;">
		<h1 class="text-center" style="font-size:2.5em;">
		<i class="fa fa-tag"></i>
แท็ก: "{{tag.name}}"</h1>
	<div class="row background-blue noSideMargins">
		<div class="row text-center haveBorder noSideMargins" style="border-right: 0; border-left: 0;">
			<div class="col-md-12">
				<h3>คําถามทั่งหมดในแท็กนี้</h3>
				<h3>{{tag.questions_count | thousandSuffix}}</h3>
			</div>
		</div>
	</div>

	<div class="row" style="margin-right:0; margin-left:0; padding: 15px 0;">
		
		<div ng-show="showQuestions" class="animated fadeIn">
		<div class="col-md-6" ng-repeat="question in tagQuestions">
			<div class="panel card">
				<div style="padding:1px 10px; min-height: 166px;">
					<a ng-href="/questions/{{question._id}}"><h2>{{question.name}}</h2></a>
					<p><a ng-href="/topics/{{question.topic}}">{{question.topic}} - </a>
					<a style="display:inline;" ng-repeat="tag in question.tags" ng-href="/tags/{{tag._id}}"><small> {{tag.name}}</small></a>
					</p>
				</div>
				<div class="row background-yellow" style="margin-right:0; margin-left:0; border: 1px solid #dddddd;">
					<div class="col-md-4 text-center">โหวต<br>{{question.votes_count}}</div>
					<div class="col-md-4 text-center" style="border-left: 1px solid #dddddd; border-right: 1px solid #dddddd;">คําตอบ<br>{{question.answers_count}}</div>
					<div class="col-md-4 text-center">ผู้เข้าชม<br>{{question.views}}</div>
				</div>

				<div class="row" style="background:aliceblue;margin-right:0; margin-left:0;border-radius:4px;">
					<div class="col-md-2 no-gutter" style="padding: 20px;">
						<img class="userIcon" ng-src="{{question.owner.coverimg}}" />
					</div>
					<div class="col-md-10 text-center" style="margin: 10px 0; font-size:0.9em;">
						<p style="margin: 10px 0;"><a ng-href="/users/{{question.ownerId}}">{{question.owner.username}}</a><br>
						<small>{{question.created | timeAgo}} - {{question.created | date:'MMM d, y h:mm a'}}</small></p>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-if="tagQuestions.length >= 20"class="col-md-12">
			<a class="btn btn-default" style="display:block; margin: 15px 0;" ng-click="getMore()">ดูเพิ่ม</a>
		</div>
		</div>

	</div>
	
	<hr>
	<h2 class="text-center">ให้ความคิดเห็นเพิ่มเติมในแท็ก <span class="blue" style="font-size: 1em;">"{{tag.name}}"</span> นี้</h2>
	<div id="disqus_thread" style="padding:20px;"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES * * */
	    var disqus_shortname = 'puanjai';

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div>